@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --main-color: #B15D26;
  --second-color: #BEB9B6;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}